/*-- scss:defaults --*/
// Base document colors
$body-bg: #b8c9d9;
$body-color: black;
$link-color: blue;

$card-bg:                           #a3b7c9; 

$pagination-bg:                     #b8c9d9;
$pagination-border-color:           black;
$pagination-hover-bg:               brown;
$pagination-hover-border-color:     green;
$pagination-active-color:           black;
$pagination-active-bg:              #a3b7c9;
$pagination-active-border-color:    black;
$pagination-disabled-color:         brown;
$pagination-disabled-bg:            orange;
$pagination-disabled-border-color:  green;                        


$dropdown-bg:                       rgb(34, 57, 88);
$dropdown-divider-bg:               yellow;
$dropdown-link-color:               white;
$dropdown-link-hover-color:         white;
$dropdown-link-hover-bg:            brown;